
* {
  margin: 30;
  padding: 20;
  box-sizing: border-box;
  }

body {text-align: center;
    margin: 0%;
}
section{margin: 0%;}
/*******************HEADER***************************************/
header {
background-color: rgb(69, 231, 69);
}
section id {box-sizing: var(body);
}


/**********************FOOTER****************************************/
footer{background-color: rgb(69, 231, 69);
}
 a:hover {
    color: red;
    text-decoration: underline;
}

#info {background-color: rgb(250, 250, 250);
    padding-bottom:2%;
}
#sobre{background-color: rgb(195, 240, 201);
    padding-bottom: 2%;
}
#programa{background-color: rgb(230, 220, 196);
    padding-bottom: 2%;
}
article
{height: 350px;
    width: 30%;
   display: inline-block;
   border-left: solid 3px;
   border-color: rgb(69,231,69);
   overflow: auto;

}
img {
    border-radius: 50%;
}
#inscricao{
    background-color: rgb(101, 204, 101);
}
form{
margin:0 auto;

}
h2{margin-block-end: auto;
}
li{width:10% ;
display: inline-block;
padding: 10px;
}
#palestrantes img{
    width: 200px;
    height: 200px;
    margin: auto;
}
.tamanho{
    width: 100%;
}
.btn {
    background-color: blue;
    color: white;
}
